[submodule "subprojects/decx-droidasc/source"]
	path = subprojects/decx-droidasc/source
	url = https://github.com/MG1937/ASC
[submodule "subprojects/decx-kuna/source"]
	path = subprojects/decx-kuna/source
	url = https://github.com/Noelo-Lab/kuna
