[submodule "modules/decx-asc/asc"]
	path = modules/decx-asc/asc
	url = https://github.com/MG1937/ASC
[submodule "modules/decx-kuna/kuna"]
	path = modules/decx-kuna/kuna
	url = https://github.com/Noelo-Lab/kuna
