[submodule "third_party/decx-droidasc/source"]
	path = third_party/decx-droidasc/source
	url = https://github.com/MG1937/ASC
[submodule "third_party/decx-kuna/source"]
	path = third_party/decx-kuna/source
	url = https://github.com/Noelo-Lab/kuna
